#!/usr/bin/env zsh
# See LICENSE file for copyright and license details.

blend_name="maemo-${codename}"
blend_vers="1.0"

release="chimaera"
version="4.0.0"

# Comment out to disable image compression
COMPRESS_IMAGE=1

# Comment out to disable caching of stage4 cpio used for faster rebuilds
CPIO_STAGE4=1

if [[ -n "$armsdk_version" ]]; then
	image_name="${blend_name}-${blend_vers}-${arch}-${device_name}-$(date '+%Y%m%d')"
elif [[ -n "$vmsdk_version" ]]; then
	image_name="${blend_name}-${blend_vers}-${arch}-$(date '+%Y%m%d')"
	vm_name="${blend_name}-${blend_vers}-${arch}-virtual-$(date '+%Y%m%d')"
fi

# Uncomment to enable -devel repositories
#devel_image=true

if [[ "$devel_image" = true ]]; then
	blend_name="${blend_name}-devel"
fi

maemo_keyring_url="https://maedevu.maemo.org/leste/pool/main/m/maemo-keyring/maemo-keyring_2023.1+m7_all.deb"

core_packages+=(
	gnupg
	wget
	openrc
)

core_packages_option+=(
    -o Acquire::Retries=5
)
base_packages_option+=(
    -o Acquire::Retries=5
)
extra_packages_option+=(
    -o Acquire::Retries=5
)

extra_packages+=(
	strace
	haveged
	busybox-static
	x11-xserver-utils
	apt-transport-https
	net-tools
	console-setup
	hildon-meta
	hildon-connectivity-base
	hildon-connectivity-wlan
	hildon-connectivity-location
	hildon-input-meta
	fake-hwclock
	ntpsec-ntpdate
	leste-config-common
	zram-tools
	macchanger
)

finalize_purge_packages=(
	ntp
)

if [[ -n "$armsdk_version" ]]; then

	rootopts=(-O ^64bit,^metadata_csum)

	case "$device_name" in
	n900)
		extra_packages+=(hildon-meta-n900 leste-config-n900)
		;;
	n950)
		extra_packages+=(hildon-meta-n950)
		;;
	n9)
		extra_packages+=(hildon-meta-n9)
		;;
	droid3)
		extra_packages+=(hildon-meta-droid3 leste-config-mapphone)
		;;
	droid4)
		extra_packages+=(hildon-meta-droid4 leste-config-mapphone)
		;;
	bionic)
		extra_packages+=(hildon-meta-bionic leste-config-mapphone)
		;;
	sunxi|turbox-twister)
        #extra_packages+=(hildon-meta-sunxi)
		vars+=(lima)
		lima=lima
		;;
	pinephone*)
		extra_packages+=(hildon-meta-pinephone leste-config-pinephone pinephone-modem-config)
		vars+=(lima)
		lima=lima
		;;
	pinetab)
		extra_packages+=(hildon-meta-pinetab leste-config-pinetab pine64-uboot)
		vars+=(lima)
		lima=lima
		;;
	pocophone-f1)
		extra_packages+=(hildon-meta-pocophone-f1 leste-config-pocophone-f1)
		;;
	raspi*)
		extra_packages+=(hildon-meta-raspberrypi)
		;;
	arm64-generic*)
		extra_packages+=(linux-headers-arm64 linux-image-arm64)
		;;
	*)
		die "Unsupported device."; zerr; exit 1
		;;
	esac
fi
