#!/usr/bin/env zsh
# See LICENSE file for copyright and license details.

blend_name="maemo-${codename}"
blend_vers="1.0"
image_name="${blend_name}-${blend_vers}-${arch}-${device_name}-$(date '+%Y%m%d')"

repo_key="http://maedevu.maemo.org/testing-key.asc"

extra_packages=(
	openrc
	busybox-static
	apt-transport-https
	net-tools
)

[ -n "$armsdk_version" ] && \
case "$device_name" in
	n900)
		extra_packages+=(hildon-meta-n900)
		;;
	droid4)
		extra_packages+=(hildon-meta-droid4)
		;;
	sunxi)
		extra_packages+=(hildon-meta)
		;;
	*)
		die "Unsupported device."; zerr; exit 1
		;;
esac

[ -n "$vmsdk_version" ] && \
extra_packages+=(hildon_meta)
