#!/usr/bin/env zsh
# See LICENSE file for copyright and license details.

blend_name="maemo-${codename}"
blend_vers="1.0"

# Don't compress final images.
nocompressimage=true

if [ -n "$armsdk_version" ]; then
	image_name="${blend_name}-${blend_vers}-${arch}-${device_name}-$(date '+%Y%m%d')"
elif [ -n "$vmsdk_version" ]; then
	image_name="${blend_name}-${blend_vers}-${arch}-$(date '+%Y%m%d')"
	vm_name="${blend_name}-${blend_vers}-${arch}-virtual-$(date '+%Y%m%d')"
fi

repo_key="http://maedevu.maemo.org/testing-key.asc"

extra_packages=(
	openrc
	strace
	busybox-static
	apt-transport-https
	net-tools
	console-setup
	hildon-connectivity-meta
	hildon-input-meta
)

finalize_purge_packages=(
	elogind
)

[ -n "$armsdk_version" ] && {

	rootopts=(-O ^64bit,^metadata_csum)

	case "$device_name" in
		n900)
			extra_packages+=(hildon-meta-n900)
			;;
		n950)
			extra_packages+=(hildon-meta-n950)
			;;
		n9)
			extra_packages+=(hildon-meta-n9)
			;;
		droid4)
			extra_packages+=(hildon-meta-droid4)
			;;
		sunxi|raspi2|turbox-twister)
			extra_packages+=(hildon-meta)
			;;
		*)
			die "Unsupported device."; zerr; exit 1
			;;
	esac
}

[ -n "$vmsdk_version" ] && \
	extra_packages+=(hildon-meta)
